/* Color Palette
Dark Sky Blue Hex: 93C6D6
Blue Sapphire hex: 1f5673
Columbia Blue hex: C4E0E9
Alice Blue hex: F0F7F9
Cornsilk: FDF5D8
White
*/

img{
    width: 705px;
    float: left;
    margin: 20px;
    position: relative;
    bottom: 36px;
    right: 20px;
}
header{
    color:white;
    background-color: #1f5673;
    opacity: 90%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
.pagetitle{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align-last: center;
    
}
h2{
    color: #FDF5D8;
    background-color: #93C6D6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: right;
    line-height: 25px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    font-family: Arial, Helvetica, sans-serif;
}
.externallinks{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration: none;
    clear: both;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flex-item{
    box-sizing: border-box;
    background-color: #1f5673;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}



